.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 40px 36px 30px;
  font: 400 16px/150% var(--font-Roboto-Regular);
  letter-spacing: 0.02em;
  color: #253017;
}

.search {
  color: #69735d;
  text-decoration: none;
  border: none;
  user-select: none;
}

.nav,
.wrapBtn,
.wrapAuth,
.wrapIcon,
.wrapRigth,
.wrapNav {
  display: flex;
  align-items: center;
}

.nav {
  gap: 24px;
}

.authBtn,
.regBtn {
  padding: 12px 24px;
  border-radius: 12px;
}

.authBtn {
  border: 1px solid #abd27a;
}

.regBtn {
  background: #abd27a;
}

.wrapBtn {
  justify-content: center;
  gap: 24px;
}

.wrapAuth {
  gap: 8px;
  justify-content: center;
}

.wrapIcon {
  gap: 20px;
}

.wrapRigth {
  gap: 26px;
}

.wrapNav {
  gap: 4px;
}
