.header {
  font-family: var(--font-Roboto-Regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #253017;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.navLink {
}
.search {
  color: #69735d;
  text-decoration: none;
  border: none;
  user-select: none;
}
.nav {
  display: flex;
  gap: 24px;
}
.authBtn {
  border: 1px solid #abd27a;
  border-radius: 12px;
  padding: 12px 24px;
}
.regBtn {
  border-radius: 12px;
  padding: 12px 24px;
  background: #abd27a;
}
.wrapBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.wrapAuth {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.wrapIcon {
  display: flex;
  gap: 20px;
}
.wrapRigth {
  display: flex;
  gap: 26px;
}
.wrapNav {
  display: flex;
  gap: 4px;
  align-items: center;
}
